@charset "UTF-8";
/*スライドショー*/
.center-slide {
    position: relative;
    width: 70%;
    height: 300px;
    overflow: hidden;
    margin: 0 auto;
}
@media screen and (max-width: 767px) {
    .center-slide {
        width: 100%;
        height: 200px;
    }
}
.gazo1, .gazo2, .gazo3, .gazo4, .gazo5, .gazo6, .gazo7 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    object-fit: contain;
}
.gazo1 {
    background-image: url('アイナナ');
    animation: slide-animation-01 24s infinite;
}
.gazo2 {
    background-image: url('文アル');
    animation: slide-animation-02 24s infinite;
}
.gazo3 {
    background-image: url('ダンメモ');
    animation: slide-animation-03 24s infinite;
}
.gazo4 {
    background-image: url('ダンクロ');
    animation: slide-animation-04 24s infinite;
}
.gazo5 {
    background-image: url('原神');
    animation: slide-animation-05 24s infinite;
}
.gazo6 {
    background-image: url('原神2');
    animation: slide-animation-06 24s infinite;
}
.gazo7 {
    background-image: url('原神3');
    animation: slide-animation-07 24s infinite;
}
@keyframes slide-animation-01 {
    0% {opacity: 1; transform: scale(1.0);}
    30% {opacity: 1;}
    40% {opacity: 0; transform: scale(1.15);}
    90% {opacity: 0}
    100% {opacity: 1; transform: scale(1.0);}
}
@keyframes slide-animation-02 {
    0% {opacity: 0;}
    30% {opacity: 0; transform: scale(1.1);}
    40% {opacity: 1;}
    60% {opacity: 1;}
    70% {opacity: 0; transform: scale(1.0);}
    100% {opacity: 0;}
}
@keyframes slide-animation-03 {
    0% {opacity: 0;}
    60% {opacity: 0; transform: scale(1.0);}
    70% {opacity: 1;}
    90% {opacity: 1;}
    100% {opacity: 0; transform: scale(1.1);}
}
.gamea {
    float: left;
    width: 50%;
}
