/*サイト全体のcss*/
@charset "UTF-8";
html,body {
    font-size: 16px;
    background-color: black;
}
body {
    margin: 0px;
    padding: 0px;
    color: skyblue;
}
.header {
    position: relative;
    background-color: plum;
}
/*画像*/
.mainimg {
    width: 150px;
    height: 150px;
    background-color: black;
}
.sakura {
    object-fit: contain;
}
/*ナビ*/
.menubar {
    padding-top: 10px;
    background-color: darkblue;
}
.nav-list {
    display: none;
    margin: 0;
    padding: 10px;
}
.nav-list li {
    margin: 0;
    padding: 10px;
}
.nav-list a {
    color: bisque;
    margin-right: 35px;
}
/*メイン*/
.main {
    max-width: 1000px;
    margin: 50px auto;
    padding: 0 10px;
}
.main-home {
    text-align: center;
}
.home-p {
    text-align: center;
}
.main-setsumei {
    margin-bottom: 10px;
    font-size: 20px;
    text-align: center;
    color: aquamarine;
}
.setsumei-p {
    text-align: center;
}
/*フッター*/
.footer {
    padding: 40px 0 30px;
    color: deepskyblue;
    text-align: center;
    background-color: darkblue;
}
.footer-address {
    margin: 10px 0;
}