/*サイト全体のcss*/
@charset "UTF-8";
html,body {
    font-size: 16px;
    background-color: black;
}
body {
    margin: 0px;
    padding: 0px;
    color: skyblue;
}
.header {
    position: relative;
    background-color: plum;
}
/*画像*/
.mainimg {
    width: 100px;
    height: 100px;
    background-color: black;
}
.sakura {
    object-fit: contain;
}
/*ナビ*/
.nav-toggle {
    display: none;
}
.btn-burger {
    position: absolute;
    top: 5px;
    right: 10px;
    z-index: 2;
    display: block;
    width: 44px;
    height: 44px;
    background: url("photo/menubtn.png") center center /35px 20px no-repeat;
    cursor: pointer;
}
.nav-toggle:checked ~ .btn-burger {
    background: url("photo/menuclose.png") center center /26px 26px no-repeat;
}
.menubar {
    padding: 40px 0;
}
.nav-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding: 0;
}
.nav-list li {
    -webkit-box-flex: 0;
    -ms-flex: 0 1 auto;
    flex: 0 1 auto;
    padding: 0 20px;
    border-right: 1px solid #fff;
}
.nav-list li:first-child {
    border-left: 1px solid #fff;
}
.nav-toggle:checked ~ .nav .nav-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}
/*メイン*/
.main {
    max-width: 1000px;
    margin: 50px auto;
    padding: 0 10px;
}
.main-home {
    text-align: center;
}
.home-p {
    text-align: center;
}
.main-setsumei {
    margin-bottom: 10px;
    font-size: 20px;
    text-align: center;
    color: aquamarine;
}
.setsumei-p {
    text-align: center;
}
/*フッター*/
.footer {
    padding: 40px 0 30px;
    color: deepskyblue;
    text-align: center;
    background-color: darkblue;
}
.footer-address {
    margin: 10px 0;
}