@charset "UTF-8";
.form-group {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    max-width: 800px;
    margin-bottom: 10px;
}
.form-label {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 12em;
    flex: 0 0 12em;
    max-width: 12em;
    margin: 0;
    padding-top: 5px;
}
.form-col {
    -webkit-box-flex: 0;
    -ms-flex: 0 1 100%;
    flex: 0 1 100%;
}
.form-btn {
    margin: 30px 0;
    text-align: center;
}

input [type="text"],
input [type="email"],
textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #999;
}
input [type="text"]:focus,
input [type="email"]:focus,
textarea:focus {
    border-color: skyblue;
    outline: none;
}
button[type="submit"] {
    background: none;
    border: none;
    cursor: pointer;
}
button[type="submit"]:hover {
    opacity: 0.65;
}