/*aboutだけで使うcss*/
@charset "UTF-8";
.main {
    max-width: 1000px;
    margin: 50px auto;
    padding: 0 10px;
}
main.mei {
    float: left;
    width: 50%;
}
main.reki {
    float: left;
    width: 50%;
}