/*aboutだけで使うcss*/
@charset "UTF-8";
/*画像*/
.mainimg {
    width: 100px;
    height: 100px;
    background-color: black;
}
.gazo {
    max-width: 100%;
    height: auto;
    object-fit: contain;
}

.main {
    max-width: 1000px;
    margin: 50px auto;
    padding: 0 10px;
}
main.mei {
    float: left;
    width: 50%;
}
main.reki {
    float: left;
    width: 50%;
}